html,
body {
    overflow-x: hidden;
}

.gastronomia {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.gastronomia h4 {
    font-family: "Poppins", system-ui;
    font-weight: 700;
    font-size: 2.5rem;
    margin-left: 9%;
    margin-bottom: -10px;
}

.gastronomia .artigos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    margin: 0 9%;
    /* width: 90%; */
}

.gastronomia .artigos > div {
    flex: 1 1 calc(50% - 20px); 
    margin: 10px; 
}

.gastronomia footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1em;
    width: 100%;
}

@media (max-width: 768px) {
    .gastronomia {
        padding: 10px;
    }
    
    .gastronomia .artigos {
        flex-direction: column;
    }

    .gastronomia .artigos > div {
        flex: 1 1 100%;
        margin: 5px 0;
    }
}
