.sobre-sorvete {
    margin: 5% 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.texto-sobre {
    width: 45%;
}

.texto-sobre h1 {
    font-size: 4rem;
    font-family: "Poppins", system-ui;
    font-weight: 900;
    font-style: normal;
}

.texto-sobre p {
    font-size: 1.25rem;
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
    border-left: 0.5rem solid #242220;
    padding-left: 1rem;
}

.sorvete-video {
    width: 45%;
    height: 480px;
    margin-top: 2rem;
}

.sorvete-video iframe {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .sobre-sorvete {
        flex-direction: column;
        align-items: center;
        /* margin-bottom: -5px; */
    }

    .sobre-sorvete.segunda-instancia {
        margin-bottom: 7vh;
    }

    .texto-sobre {
        width: 100%;
        text-align: center;
    }

    .texto-sobre h1 {
        font-size: 2.5rem;
    }

    .texto-sobre p {
        font-size: 1rem;
    }

    .sorvete-video {
        margin-top: 2rem;
        width: 100%;
        padding-bottom: 56.25%;
        /* Proporção 16:9 */
        position: relative;
        height: auto;
    }

    .sorvete-video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}