.container-vendas {
  margin: auto;
}

.tabela-container {
  display: flex;
  width: 95% !important;
  margin: 0 auto;
}

.container-vendas h1 {
  font-size: 1.9rem;
  padding: 0 35px;
}

.container-informacoes {
  display: flex;
  margin: 30px 0;
  justify-content: space-between;
 
}

.container-botoes {
  display: flex;
  flex-direction: row;
  padding: 0;
  align-items: center;
  margin: 15px 0;
  width: 40%;
}

.tabela-vendas .tabela-container .MuiTableCell-head {
  color: white !important;
  font-weight: bold;
  font-size: 17px !important;
}

.tabela-cont .MuiTableRow-root:nth-of-type(even) {
  background-color: #f9f9f9;
}

.tabela-cont .MuiTableRow-root:hover {
  background-color: #e0f7fa;
}

.tabela-cont .MuiPaper-root {
  box-shadow: none !important;
}

.tituloModal {
  font-family: "Poppins", system-ui !important;
  font-size: 22px;
}

.container-modais {
  width: 300px;
  height: 100px;
}

.campo-modal {
  display: flex;
  margin-bottom: 15px;
}



.botaoModal{
  background-color: #2F615E !important;
  color: #F1C97B !important;
  font-family: "Poppins", system-ui !important;
  font-size: 22px;
  border-radius: 5px;
}

.botaoModal:hover {
  cursor: pointer;
  background-color: #1f4a43; /* Muda a cor de fundo ao passar o mouse */
  transform: translateY(-2px); /* Levanta o botão levemente */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra ao botão */
}