.card-gerenciamento{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
    padding: 10px;
    gap: 16px;
    transition: .3s;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: start;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.card-gerenciamento .imagem{
    display:flex;
    align-items: center;
    justify-content: center;
}

.card-gerenciamento:hover{
    transform: scale(1.02);
    background-color: #f5f5f5;
}

.content-gerenciamento{

    & h1{
        font-size: 1.3rem;
        color: #000;
        margin: 10px 0;
        
    }

    & h2{
        font-size: 1rem;
        color: #000;
        margin: 10px 0;
        font-weight: 400;
    
    }


}

a {
    text-decoration: none;
}

