.footer {
    background-color: #FFDB94;
    padding: 5px 0;
    align-items: center;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 90%; 
    margin: 0 auto;
}

.logo img{
    width: 150px;
}

.sobre-projeto {
    font-family: "Poppins", system-ui;
    font-size: 1.0em;
    color: #252424;
    text-align: center;
    max-width: 60%; 
}

.itens-footer {
    font-family: "Poppins", system-ui;
    font-weight: 600;
    font-size: 1.0em;
    color: #252424;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
    gap: 25px; 
}

.itens-footer ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 25px; 
}

.itens-footer li a {
    color: inherit;
    text-decoration: none;
}

.itens-footer li a:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: #772321;
    font-weight: bold;
    text-decoration: underline;
}

.copyright {
    font-family: "Poppins", system-ui;
    font-size: 0.9em;
    color: #252424;
    font-weight: bold;
    text-align: center;
}
