.footer {
    margin: 0 auto;
    display: flex;
    background-color: #FFDB94;
    justify-content: space-around;
    height: 135px;
    z-index: 5;
}

.sobre-projeto {
  font-family: "Poppins", system-ui;
  font-size: 1.0em;  
  color: #252424;
  text-align: left;
  display: flex;
  width: 40%;
  align-items: center;
}

.itens {
  font-family: "Poppins", system-ui;
  font-weight: 600;
  font-style: normal;
  font-size: 1.0em;
  color: #252424;
  display: flex; 
}

.itens-coluna1 ul {
    list-style-type: none;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.itens-coluna2 ul {
    list-style-type: none;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.itens li {
    margin-right: 25px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.itens li:hover{
    transform: scale(1.3);
}