.barra-pesquisa {
    display: flex;
}

.barra-pesquisa input {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 2px solid #2F615E;
    padding: .5rem 1rem;
}

.barra-pesquisa button {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
    background-color: #2F615E;
    border: 2px solid #2F615E;
    color: #F1C97B;
}

@media screen and (max-width: 768px) {
    .barra-pesquisa input {
       padding: 0;
    }
}