.sobre-sorvete {
    margin: 6rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-wrap: wrap  */
}

.texto-sobre {
    margin: 0;
    display: block;
    width: 40%; 
}

.texto-sobre h1 {
    font-size: 4rem;
    font-family: "Poppins", system-ui;
    font-weight: 900;
    font-style: normal;
}

.texto-sobre p {
    font-size: 1.25rem; 
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
    border-left: 0.5rem solid #242220;
    padding-left: 1rem; 
}

.sorvete-video {
    margin-top: 4rem; 
}


@media (max-width: 768px) {
    .sobre-sorvete {
        flex-direction: column;
        align-items: center;
    }

    .texto-sobre {
        width: 100%; 
        text-align: center; 
    }

    .texto-sobre h1 {
        font-size: 2.5rem; 
    }

    .texto-sobre p {
        font-size: 1rem;
    }

    .sorvete-video {
        margin-top: 2rem;
    }
}
