.botao-voltar-destaque {
    margin: 0 4rem;
}

.tabela-produtos-destaque {
    margin: 2rem 5rem;
}

.container-tabela-destaque {
    border: 2px solid #2F615E;
    border-radius: 15px !important;
}

.tabela-head-destaque {
    background-color: #2F615E !important;
    color: #fff !important;
    font-family: "Poppins", system-ui !important;
    font-size: 16px !important;
    font-weight: bold !important;
    padding: 16px !important;
    border-bottom: none !important;
}

.tabela-cell-content {
    font-family: "Poppins", system-ui !important;
    padding: 16px !important;
    font-size: 14px !important;
}

.tabela-cell {
    padding: 16px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.edit-button {
    border: none;
    background: none;
    color: inherit;
    transition: all 0.3s ease;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-button:hover {
    cursor: pointer;
    color: #F1C97B;
}

.botaoModal {
    background-color: #2F615E !important;
    color: #F1C97B !important;
    font-family: "Poppins", system-ui !important;
    font-size: 22px;
    border-radius: 5px;
}

.botaoModal:hover {
    cursor: pointer;
    background-color: #1f4a43;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.informativo-descricao-destaque-do-dia{
    width: 80%;
    display: flex;
    justify-content: space-around;
    font-family: Poppins, sans-serif;
    font-size: 1.2rem;
}

.campo-texto-destaque-do-dia{
    width: 100%;
    display: flex;
    align-items: end;
    font-family: Poppins, sans-serif;
    font-size: 1.3rem;
}

.input-texto-destaque-do-dia{
    width: 35%;
    height: 190px; 
    border-radius: 20px;
    margin: 0px 20px 20px 0px;
    padding: 20px;
    font-size: 1.1rem;
    font-family: Poppins, sans-serif;
}

@media screen and (max-width: 768px) {
    .botao-voltar-destaque {
        margin: 0;
    }    

    .tabela-produtos-destaque {
        margin: 1rem;
    }
}