.estoqueContainer {
    margin: 0 5rem;
  }
  
  .estoqueContainer .header-home {
    margin-bottom: 1px;
  }
  
  .controlesWrapper {
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .pesquisa-container {
    width: 40%;
    max-width: 300px;
  }
  
  .botoes-container {
    display: flex;
    gap: 10px; 
  }

.modal-button-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 15px;
    margin: 0 10px;
}

.modal-button-container button {
    width: 11rem;
    font-size: 16px;
}