.containerFerramentas h2 {
  font-size: 1.8rem;
  color: #333;
  text-align: center;
  margin-bottom: 50px;
}

.cards-rumo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: .5rem;
}

.cards-rumo image{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: .5rem;
}

@media (max-width: 768px) {
  .containerFerramentas h2 {
    margin-bottom: 30px;
  }
}