.voltarGerenciamentoBtn {
    display: flex;
    align-items: center;
    width: fit-content;
}

.voltarGerenciamentoBtn .arrow-icon {
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.voltarGerenciamentoBtn:hover .arrow-icon {
    transform: translateX(-8px);
}
.voltarGerenciamentoBtn:hover {
    text-decoration: underline;
    cursor: pointer;
}