.barraPesquisa {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tabela-produtos {
    margin: 50px;
    padding: 10px;
}

.tabela-Head {
    display: flex;
    background-color: #2F615E; /* Use !important para garantir que o estilo seja aplicado */
    text-align: center;
}

.tabela-head-cell {
    color: #fff !important;
    font-family: "Poppins", system-ui !important;
    font-style: normal;
}

.tabela-row {
    background-color: #f9f9f9;
}

.tabela-cell {
    padding: 10px;
}

.tabela-cell button{
    border: none;
    background: none;
    color: inherit;
    transition: all 0.3s ease;

    
}

.tabela-cell button:hover {
    cursor: pointer;
    color: #F1C97B; 
    
}