.populares {
  padding: 50px 0;
  text-align: center;
  background-color: #ffffff;
}

.populares h1 {
  color: #772321;
  font-size: 2.5rem;
  margin-bottom: 40px;
  text-align: start;
  margin-left: 5%;
}

.carousel {
  position: relative;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.card {
    min-width: 250px;
    /* min-width: 300px; */
    background-color: lightgrey;
  margin: 0 15px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: #772321;
  transition: all 0.5s;
  border-radius: 10px;
}

.card h3 {
  color: #772321;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.card p {
  color: #333;
  font-size: 1.5rem;
  font-weight: 600;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #772321;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.carousel-prev {
  left: 20px;
}

.carousel-next {
  right: 20px;
}

.ver-tudo {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #772321;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: underline;
}

.ver-tudo a {
  color: inherit;
  text-decoration: none;
}
