@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  overflow-x: hidden;
  transition: smooth;
  /* font-family: "Poppins", sans-serif; */
}

.home {
  background-color: white;
}

/* main {
  margin: 0 5%;
} */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 5%;
  background: linear-gradient(white, 65%, #f1c97b);
  box-sizing: border-box;
}

.hero img {
  height: 90vh;
  max-width: 800px;
}

.content {
  max-width: 100%;
  padding: 20px;
}

.home h4 {
  font-weight: 300;
}

.hero h1 {
  color: #772321;
  font-size: 3rem;
  margin-bottom: 20px;
  margin-top: -20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #333;
}

.content .button {
  display: flex;
  height: 60px;
}

.button .btn-primary {
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 10px 15px;
  width: auto;
  background-color: #772321;
  color: white;
}

.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 85px 20px;
}

.sobre-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.sobre-text {
  max-width: 50%;
}

.sobre-text h2 {
  color: #772321;
  font-size: 2.5rem;
  text-align: center;
}

.sobre-text p {
  color: #333;
  font-size: 1.2rem;
}

.sobre-img img, .sugestao-img img {
  height: auto;
  max-width: 100%;
  border-radius: 10px;
}

/* Carrossel aqui */

.section-3 h2 {
  letter-spacing: -1px;
  text-align: center;
  color: #772321;
  font-size: 2.5rem;
  margin-bottom: -20px;
}

.section-3 .data {
  text-align: center;
  font-size: 1rem;
  color: #772321;
  font-weight: bold;
  /* TEMPORÁRIO */
  margin-bottom: -150px;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
}

.sugestao-do-dia-child {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7%;
  border-radius: 20px;
  /* padding: 60px 20px; */
  background: linear-gradient(180deg, #ffdb94 52%, #deaf54 100%);
}

.section-3-child h2 {
  text-align: center;
  color: #772321;
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.sugestao-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  max-width: 1200px;
  width: 100%;
}

.sugestao-text {
  max-width: 50%;
}

.titulo-sugestao {
  font-size: 3rem;
  color: #772321;
  margin-bottom: 20px;
  position: relative;
  text-shadow: 5px -6px 4px rgb(255, 255, 255);
}

.descricao {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 20px;
}

.btn-experimentar {
  background-color: #772321;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-experimentar:hover {
  background-color: #a12d2b;
}

.section-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  /* padding: 40px; */
}

.section-4 h1 {
  color: #772321;
  font-size: 2.5rem;
  margin-bottom: 20px;
  position: relative;
}

.section-4 p {
  font-size: 1.2rem;
  color: #333;
}

.more-text .btn-primary {
  font-size: 1.2rem;
  background-color: #772321;
  color: white;
  padding: 10px 20px;
  border: none;
}

.more-text {
  max-width: 50%;
}

/* .btn-primary {
  font-size: 1.2rem;
  background-color: #772321;
  color: white;
  padding: 10px 20px;
  border: none;
}
.btn-primary:hover {
  background-color: #590f19;
} */

.more-img img {
  height: 40vh;
}

.section-5 {
  text-align: center;
  /* padding: 40px; */
  margin: 90px;
}

.section-5 h2 {
  color: #772321;
  font-size: 2rem;
  margin-bottom: 20px;
}

.section-5 p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #333;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.newsletter-form input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

.newsletter-form button {
  padding: 10px 20px;
  background-color: #772321;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.newsletter-form button:hover {
  background-color: #590f19;
}


@media (max-width: 1024px) {
  /* Ajustes para tablets */
  .content, .sobre-text, .more-text {
    max-width: 100%; 
  }

  .sobre-container, .sugestao-container, .section-4 {
    flex-direction: column;
    text-align: center;
  }

  .hero img, .sugestao-img img, .more-img img {
    height: auto;
    width: 100%;
  }
}

@media (max-width: 600px) {
  /* Ajustes para smartphones */
  .hero {
    height: auto;
    padding: 10px;
  }

  .content {
    text-align: center;
    margin-bottom: 20px;
  }

  .hero img {
    width: 100%;
    max-height: 50vh;
  }

  .sugestao-container, .section-4 {
    flex-direction: column;
    gap: 20px;
  }
}
