.tabela-cell {
    padding: 10px;  
    text-align: center !important;
    white-space: nowrap; 
}

.tabela-head-cell {
    padding: 10px;  
    text-align: center !important;  
}

.tabela-row {
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tabela-cell button {
    border: none;
    background: none;
    color: inherit;
    transition: all 0.3s ease;
    padding: 5px;  
}

.tabela-cell button:hover {
    cursor: pointer;
    color: #F1C97B;
}
