.botao-salvar button {
    padding: .5rem 1rem;
    color: #F1C97B;
    background-color: #2F615E;
    border: 1px solid #000000;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .botao-salvar button {
        padding: .5rem .5rem;
        font-size: 16px;
    }
}