.main-container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 20px;
}

.titulo-cadastrar {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.inputs-cadastrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.campo-texto-cadastrar {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

.campo-texto-cadastrar label {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 5px;
}

.campo-texto-cadastrar input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #000;
    box-sizing: border-box;
    padding: 10px;
}

.botao-atualizar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
}

@media (max-width: 600px) {
    .campo-texto-cadastrar {
        width: 90%;
    }
}