.login {
    margin: 35px 35px;
    display: flex;
    height: 90vh;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);

}

.bem-vindo {
    position: relative;
    background: url('/public/Imagens/banner.png') no-repeat;
    background-size: cover;
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: #fff;
    padding: 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    z-index: 1;
}

.bem-vindo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    z-index: -1;
    filter: blur(10px);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.bem-vindo p {
    margin: 0;
    position: absolute; 
    bottom: 25px; 
    left: 25px; 
    display: flex;
    width: 60%;
    text-align: left;
    font-size: 22px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 4px #000;
}


.login-banner {
    width: 50%;
    background-image: linear-gradient(to bottom left, #BC4744, #772321);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.login h1 {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    text-shadow: 1px 1px 3px #000;
}

.login span {
    display: flex;
    color: #fff;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    justify-content: center;
    margin-bottom: 8px;
    text-shadow: 1px 1px 3px #000;
}

.login a {
    display: flex;
    color: #fff;
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-size: 12px;
    justify-content: center;
    text-decoration: underline;
}