.loginContainer {
    display: flex;
    height: 100vh;
    width: 100%;
}

.loginLeft {
    background-image: linear-gradient(to bottom left, #BC4744, #772321);
    color: white;
    padding: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginLeft h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.loginLeft p {
    font-size: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.loginLeft form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
}

.loginLeft label {
    margin-bottom: .5rem;
}

.loginLeft input {
    padding: .8rem;
    border: none;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.loginLeft button {
    padding: .8rem;
    background-color: #ddd;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #772321;
    font-weight: bold;
    font-size: 17px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin: 0 20%;
}

.loginLeft button:hover {
    background-color: #772321;
    color: #ddd;
}

.loginLeft a {
    color: white;
    text-align: center;
    margin-top: 0.5rem;
    font-size: 12px;
}

.loginLeft a:hover {
    text-decoration: underline;
}

.loginRight {
    position: relative;
    z-index: 0;
    width: 50%;
    background-image: url('/public/Imagens/sorvete-de-pote-background.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 2rem;
}

/* Aplicar desfoque somente à imagem */
.loginRight::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    filter: blur(3px);
    z-index: -1;
}

.loginRight p {
    z-index: 1;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: right;
    text-align-last: right;
    padding: 10px; 
}

@media (max-width: 768px) {
    .loginContainer {
        flex-direction: column;
        align-items: center;
    }

    .loginLeft,
    .loginRight {
        width: 100%;
        border-radius: 0;
    }

    .loginLeft,
    .loginRight {
        height: 50vh;
    }

    .loginLeft label,
    .loginLeft p {
        margin-bottom: 0;
    }

    .loginLeft h1 {
        margin-bottom: .2rem;
    }

    .loginRight p {
        padding-right: .6rem;
    }
}