body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/public/Imagens/banner.png') no-repeat center center fixed;
    background-size: cover;
    filter: brightness(0.20);
    opacity: 0.9; /* Ajuste a opacidade conforme necessário */
    z-index: -1; /* Garante que o pseudo-elemento fique atrás do conteúdo */
}

.login {
   margin-top: 40px;
   display: flex;
   height: 90vh;
    
}

.login-banner {
    width: 50%;
    background-image: linear-gradient(to bottom left, #BC4744, #772321);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

}

.login h1 {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    text-shadow: 2px 2px 4px #000000;
}

.login span {
    display: flex;
    color: #fff;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    justify-content: center;
    margin-bottom: 8px;
    text-shadow: 3px 3px 5px #000000;
}

.campo-texto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bem-vindo {
    position: relative;
    background: url('/public/Imagens/banner.png') no-repeat;
    background-size: cover;
    width: 60%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: #fff;
    padding: 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    z-index: 1;
}

.bem-vindo::before {
    content: '';
    position: absolute;
    border-radius: 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
    z-index: -1; /* Coloca o gradiente atrás do texto */
    filter: blur(20px); /* Aplica o desfoque ao gradiente */
}

.bem-vindo p {
    margin: 0px;
    position: absolute; 
    bottom: 25px; 
    left: 25px; 
    display: flex;
    width: 55%;
    text-align-last: left;
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-shadow: 3px 3px 5px #000000;
   
}

.login a {
    display: flex;
    color: #fff;
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-size: 12px;
    justify-content: center;
}