/* Container geral da página de contato */
.contato-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh; /* Ocupa toda a altura da tela */
    overflow: hidden; 
}


.contato {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35vw;
    height: 45vh; /* Define uma altura máxima */
    border: 2px solid #000;
    border-radius: 15px;
    box-shadow: 10px 10px 25px #888888;
    padding: 25px;
    background-color: #F8F2D9;
    overflow: hidden; 
}


.contato h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
}

.contato button {
    width: 20vw;
    height: 6vh;
    margin: 2%;
    border-radius: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #772321;
    background-image: linear-gradient(to bottom right, #772321, #ad6664);
}

.contato button:hover {
    cursor: pointer;
    background-image: linear-gradient(to bottom right, #ad6664, #772321); /* Inverte as cores do gradiente */
    border: 2px solid #ad6664; 
    transform: scale(1.05); 
    transition: 0.3s ease; 
}

/* Ajustes de responsividade */
@media (max-width: 768px) {
    .contato {
        width: 80vw;
        max-height: 50vh;
        padding: 20px;
    }
}
