:root {
    --cor-whatsapp: #25d366;
    --cor-instagram: #E1306C;
    --cor-fundo: #ffdb94;
    --cor-secundaria: #deaf54;
    --cor-borda: #772321;
}

.contato-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
}

.contato {
    margin: 0 auto 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 70vh;
    border-radius: 15px;
    box-shadow: 10px 10px 30px #888888;
    padding: 25px;
    background: linear-gradient(to bottom right, var(--cor-secundaria) 40%, var(--cor-fundo) 50%);
}

.contato img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px groove var(--cor-borda);
}

.contato h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 48px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.botao {
    width: 300px;
    height: 60px;
    margin: 15px 0;
    border-radius: 18px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.plataforma-whatsapp {
    background-image: linear-gradient(to bottom right, var(--cor-whatsapp), #128c7e);
}

.plataforma-instagram {
    background-image: linear-gradient(to bottom right, var(--cor-instagram), #C13584);
}

.botao:hover {
    transform: scale(1.05);
}

.plataforma-whatsapp:hover {
    background-image: linear-gradient(to bottom right, #128c7e, var(--cor-whatsapp));
    border: 2px solid #128c7e;
}

.plataforma-instagram:hover {
    background-image: linear-gradient(to bottom right, #C13584, var(--cor-instagram));
    border: 2px solid #C13584;
}

@media (max-width: 768px) {
    .contato {
        max-height: 50vh;
        padding: 20px;
    }

    .contato img {
        width: 150px;
        height: 150px;
    }

    .contato h2 {
        font-size: 24px;
    }

    .botao {
        width: 200px;
        height: 45px;
    }
}
