.estoqueContainer {
  width: 90%;
  margin: 0 auto;
}

.estoqueContainer .header-home {
  margin-bottom: 1px;
}

.controlesWrapper {
  margin-top: 30px;
  margin-bottom: 15px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.pesquisa-container {
  width: 40%;
  max-width: 300px;
  margin-right: 28%;
  margin-top: 15px;
}

.botoes-container {
  display: flex;
  gap: 10px;
}

.container-tabela {
  border: 2px solid #2F615E;
  border-radius: 10px !important;
  width: 100%;
}

.container-tabela::-webkit-scrollbar {
  width: 6px;
}

.texto-produtos {
  display: flex;
  margin-left: 6%;
  width: 100%;
  margin-bottom: 10px;
}

.produtos-contagem {
  font-size: 14px;
  color: #555;
}

.tabela-row-estoque:hover{
  background-color: #2F615E;

  .table-cell-grid-estoque {
    color: #fff
  }  
}

.table-cell-grid-estoque{
  padding: 10px
}